@{
    ViewData["Title"] = "Home Page";
}
@using SaleCRMApp.Models

@model List<State>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    body {
        /*font-family: Varela Round;*/
        background: #f1f1f1;
    }

    a {
        text-decoration: none;
    }

    /* Card Styles */

    .card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform 0.3s ease;
    }

        .card-sl:hover {
            /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);*/
            transform: translateY(-5px) rotateX(5deg) rotateY(5deg);
        }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

        .card-action:hover {
            color: #fff;
            background: #E26D5C;
            -webkit-animation: pulse 1.5s infinite;
        }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .card-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

        .card-button:hover {
            text-decoration: none;
            background-color: #1D3461;
            color: #fff;
        }
    /* This pen */
    /*body {

        color: #ffffff;
        text-rendering: optimizeLegibility;

    }

    .dark {
        background: #110f16;
    }


    .light {
        background: #f3f5f7;
    }*/

    a, a:hover {
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }



    /* Cards */
    .postcard {
        flex-wrap: wrap;
        display: flex;
        box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
        border-radius: 10px;
        margin: 0 0 2rem 0;
        overflow: hidden;
        position: relative;
        color: #ffffff;
        &.dark

    {
        background-color: #18151f;
    }

    &.light {
        background-color: #e1e5ea;
    }

    .t-dark {
        color: #18151f;
    }

    a {
        color: inherit;
    }

    h1, .h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .small {
        font-size: 80%;
    }

    .postcard__title {
        font-size: 1.75rem;
    }

    .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    .postcard__img_link {
        display: contents;
    }

    .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
    }

    .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }

    .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
        .tag__item

    {
        display: inline-block;
        background: rgba(83, 83, 83, 0.4);
        border-radius: 3px;
        padding: 2.5px 10px;
        margin: 0 5px 5px 0;
        cursor: default;
        user-select: none;
        transition: background-color 0.3s;
        &:hover

    {
        background: rgba(83, 83, 83, 0.8);
    }

    }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }

    &:hover .postcard__bar {
        width: 100px;
    }

    }


    .postcard {
        flex-wrap: inherit;
        .postcard__title

    {
        font-size: 2rem;
    }

    .postcard__tagbox {
        justify-content: start;
    }

    .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }

    .postcard__text {
        padding: 3rem;
        width: 100%;
    }

    .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
    }

    &:hover .postcard__img {
        transform: scale(1.1);
    }

    &:nth-child(2n+1) {
        flex-direction: row;
    }

    &:nth-child(2n+0) {
        flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
    }

    }

    .postcard__text {
        padding: 2rem 3.5rem;
    }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    .postcard.dark {
        .postcard__text:before

    {
        background: #18151f;
    }

    }

    .postcard.light {
        .postcard__text:before

    {
        background: #e1e5ea;
    }

    }
    }

    /* COLORS */
    .postcard .postcard__tagbox .green.play:hover {
        background: $main-green;
        color: black;
    }

    .green .postcard__title:hover {
        color: #main-green;
    }

    .green .postcard__bar {
        background-color: $main-green;
    }

    .green::before {
        background-image: linear-gradient( -30deg, $main-green-rgb-015, transparent 50% );
    }

    .green:nth-child(2n)::before {
        background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
    }

    .postcard .postcard__tagbox .blue.play:hover {
        background: $main-blue;
    }

    .blue .postcard__title:hover {
        color: $main-blue;
    }

    .blue .postcard__bar {
        background-color: $main-blue;
    }

    .blue::before {
        background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
    }

    .postcard .postcard__tagbox .red.play:hover {
        background: $main-red;
    }

    .red .postcard__title:hover {
        color: $main-red;
    }

    .red .postcard__bar {
        background-color: $main-red;
    }

    .red::before {
        background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
    }

    .red:nth-child(2n)::before {
        background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
    }

    .postcard .postcard__tagbox .yellow.play:hover {
        background: $main-yellow;
        color: black;
    }

    .yellow .postcard__title:hover {
        color: $main-yellow;
    }

    .yellow .postcard__bar {
        background-color: $main-yellow;
    }

    .yellow::before {
        background-image: linear-gradient( -30deg, $main-yellow-rgb-015, transparent 50% );
    }

    .yellow:nth-child(2n)::before {
        background-image: linear-gradient( 30deg, $main-yellow-rgb-015, transparent 50% );
    }


    .green::before {
        background-image: linear-gradient( -80deg, $main-green-rgb-015, transparent 50% );
    }

    .green:nth-child(2n)::before {
        background-image: linear-gradient( 80deg, $main-green-rgb-015, transparent 50% );
    }

    .blue::before {
        background-image: linear-gradient( -80deg, $main-blue-rgb-015, transparent 50% );
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
    }

    .red::before {
        background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
    }

    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
    }

    .yellow::before {
        background-image: linear-gradient( -80deg, $main-yellow-rgb-015, transparent 50% );
    }

    .yellow:nth-child(2n)::before {
        background-image: linear-gradient( 80deg, $main-yellow-rgb-015, transparent 50% );
    }

</style>
<br></br>
<div class="container-fluid ">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 100%; margin: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.uniekart.com/images/inner_banner1.jpeg" class="d-block w-100 img-fluid" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="https://www.uniekart.com/images/inner_banner2.jpeg" class="d-block w-100 img-fluid" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="https://swadeshi-dukan.com/cdn/shop/files/Banner_2_1800x.jpg?v=1614726309" class="d-block w-100 img-fluid" alt="Slide 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<br />
@*<div class="container-fluid">
    <div class="row">
        @foreach (var state in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4" style="height: 400px;">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(state.StateImage)" class="card-img-top" alt="@state.StateName" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@state.StateName</h5>
                        <p class="card-text" style="height: 100px; overflow: hidden;">@state.StateDescription</p>
                        <a href="@Url.Action("GetProduct", "ProductView", new { stateName = state.StateName })" class="btn btn-primary">Know More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@
@{
    ViewData["Title"] = "Home Page";
    bool isUser = User.IsInRole("User");
}

@if (isUser || !User.Identity.IsAuthenticated)
{
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="row">
            @foreach (var state in Model)
            {
                <div class="col-md-3">
                    <div class="card-sl">
                        <div class="card-image">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(state.StateImage)" class="card-img-top" alt="@state.StateName" style="height: 200px; object-fit: cover;">
                        </div>

                        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                        <div class="card-heading">
                            @state.StateName
                        </div>
                        <div class="card-text" style="height: 100px; overflow: hidden;">
                            @state.StateDescription
                        </div>

                        <a href="@Url.Action("GetProduct", "ProductView", new { stateName = state.StateName })" class="card-button btn btn-primary">Know More</a>

                    </div>
                    <br>
                </div>
            }
        </div>
    </div>
}
else
{
    @*<p>Welcome to the Swadeshi Hub App</p>*@
    <section class="dark">
        <div class="container py-4">
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="~/Images/5.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#"> Swadeshi Hub</a></h1>

                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        "At Swadeshi Hub, our mission is to celebrate India's rich cultural heritage by connecting local vendors from diverse Indian states with national and global audiences. We believe that every region of India possesses unique treasures, embodied in Geographical Indication (GI) tagged products that reflect authentic flavors, craftsmanship, and traditions. Our platform serves as a vital link between these artisans and consumers who value genuine, high-quality products resonating with India's diverse culture. Through promoting and supporting these local vendors, we aim to empower communities, preserve traditional craftsmanship, and stimulate grassroots economic growth. With unwavering dedication to authenticity, quality, and social responsibility, we envision a marketplace where each purchase narrates a story, honors heritage, and uplifts the livelihoods of talented individuals nationwide. Join us on our journey to explore, experience, and rejoice in the vibrant tapestry of India's GI tagged products."

                    </div>
            </article>
        </div>
    </section>
}


</div>